<div class="seperatorBox">
    <div class="dualHorizontalGrid">
        <div class="topicTitle">{{ topicTitle }}</div>
        <div class="alignRight">
            {% if canPostReply %}
                <span class="button"><a href="{{ postReplyUrl }}"><i class="fa-solid fa-reply"></i>${[topics][postReplyButton]}</a></span>
            {% endif %}
            {% if canPostTopics %}
                <span class="button"><a href=""><i class="fa-solid fa-folder-plus"></i>${[topics][postTopicButton]}</a></span>
            {% endif %}
        </div>
    </div>
</div>
<div class="seperatorBox">
    <div class="dualHorizontalGrid alignTop">
        <div>
            <div class="topicInfoGrid">
                <div>
                    <div class="leftRightGrid">
                        <div><span class="photoThumbnail"><img src="http://www.bulletinfusion.com/upload/photos/member-1/photo.jpg"></div>
                        <div>
                            <div class="dualVerticalGrid">
                                <div>{{ startedBy }}</div>
                                <div><i class="fa-regular fa-clock"></i> {{ started }}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div><span class="forumSymbolBubble tooltip tooltip--top" data-title="This topic belongs to the Main Discussion forum"><a href="http://www.bulletinfusion.com/index.php?controller=forums&action=view&forum=1-Main-Discussion" style="background-color: #800080; color: #FFFFFF;" onmouseover="this.style.backgroundColor='#590059'; this.style.color='#FFFFFF';" onmouseleave="this.style.backgroundColor='#800080'; this.style.color='#FFFFFF';">Main Discussion</a></span></div>
            </div>
        </div>
        <div class="alignRight softButton"><span id="likes-container-{{ id }}">{{ likeButton }}</span><span id="subscribe-container-{{ id }}">{{ subscribeButton }}</span></div>
    </div>
</div>