<span class="dropDownMenuContextItem">
    <span class="dropDownMenuContextItemContent {{ unread }}" data-url="{{ url }}" onclick="followLink(this);">
        <div class="notificationGrid">
            <div>{{ icon }}</div>
            <div>
                <div class="notificationVerticalGrid">
                    <div class="notificationTitle">{{ title }}</div>
                    <div class="notificationInfo">{{ info }}</div>
                    <div class="notificationTimestamp">{{ timestamp }}</div>
                </div>
            </div>
        </div>
    </span>
</span>